.bandeau{
	position: relative;
	height: oe_rem(535px);
	background-color: $second_main_color;
	img{
		width: 100%;
	}
	.info{
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3; 
		text-align: center;
		@include flex(center, center, column);
		.titre{
			color: $text_color;
			font-size: oe_rem(48px); 
			line-height: 3.125rem; 
			font-weight: 600;
		}
		.description{
			color: $text_color;
			font-size: oe_rem(48px); 
			line-height: oe_rem(72px); 
			font-weight: 400;
		}
		a{  
			margin-top: oe_rem(60px); 
			text-transform: uppercase;
			padding: 0 oe_rem(20px);
			height: oe_rem(74px);
			line-height: oe_rem(74px);
			display: inline-block;
			@include transition(all, .25s, ease-in-out);
			@include button-variant(#fff, $main_color, $main_color);
			&:hover{
			@include button-variant($main_color, #fff, $main_color);
			}
		}
	} 


	@include media("<md"){
		height: oe_rem(260px);
		img{
			height: 100%;
		}
		.info{
			.titre{
				font-size: oe_rem(40px); 
			}
			.description{
				font-size: oe_rem(20px); 
			}
			a{
				margin-top: oe_rem(20px); 
			}
		} 

	} 

	@include media("<sm"){
		height: oe_rem(260px);
		img{
			height: 100%;
		}
		.info{
			.titre{
				font-size: oe_rem(25px); 
			}
			.description{
				font-size: oe_rem(20px); 
			}
			a{
				margin-top: oe_rem(20px); 
			}
		} 

	} 

}



.page_bandeau{
	height: oe_rem(400px);
	margin-bottom: oe_rem(80px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
 
	@include media("<md"){
		height: oe_rem(260px); 
	} 

	@include media("<sm"){
		height: oe_rem(260px); 
	} 

}


.bas_page_bandeau{
	position: relative;
	height: oe_rem(565px); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	.info{
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3; 
		text-align: center;
		@include flex(center, center, column);
		.titre{
			color: #fff;
			font-size: oe_rem(36px); 
			line-height: 3.125rem; 
			font-weight: 600;
			text-shadow: 2px 1px $main_text_color;
		}

		a{  
			margin-top: oe_rem(60px); 
			text-transform: uppercase;
			padding: 0 oe_rem(20px);
			height: oe_rem(74px);
			line-height: oe_rem(74px);
			display: inline-block;
			@include transition(all, .25s, ease-in-out);
			@include button-variant(#fff, $main_color, $main_color);
			&:hover{
				@include button-variant($main_color, #fff, $main_color);
				}
		}
	}
	@include media("<md"){
		height: oe_rem(260px); 
	} 

	@include media("<sm"){
		height: oe_rem(260px); 
	} 

}

