.carrieres{
	.carriere{
		
		position: relative;
		border: oe_rem(1px) solid $lighter_color;
		padding: oe_rem(20px);

		.showMore{
			position: absolute;
			top: oe_rem(20px);
			right: oe_rem(10px);
			height: oe_rem(15px);
			width: oe_rem(15px);
			border-radius: 50%;
			cursor: pointer;
			color: $lighter_color;
			font: normal normal normal oe_rem(16px)/1 FontAwesome;

			&::before{
				content: "";
			}

			&.open{
				&::before{
					content: "";
				}
			} 
		}

		.titre{
			margin: 0;
			color: $second_main_color;
		}
		.ref{
			color: $main_color;
			margin-bottom: oe_rem(6px);
		}
		.date{
			font-style: italic;
		}
		.description{
			margin-bottom: oe_rem(20px);
		}
		.suite{

		}
	}
}