
body.page-template-contact{
    background: #efefef;
}

body.page-template-contact h1, .contact-form-step{
    display: none;
}

#wpcf7-f90-p14-o1 .wpcf7-form-control:not(.wpcf7-submit), .contact-form-step .typed {
    font-size: 48px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: 2px;
    padding: 0;
}

.contact-form-step .typed + p, .typed-cursor + p{
    display: none;
}

#wpcf7-f90-p14-o1 .wpcf7-form-control:not(.wpcf7-submit){
    color:#424242;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 18px;
}

#wpcf7-f90-p14-o1 .wpcf7-textarea{
    height: 200px;
}

#wpcf7-f90-p14-o1 input:focus, #wpcf7-f90-p14-o1 textarea:focus{
    outline: none;
}

.contact-info-container{
    background-color: #fff;
}

.contact-content{
    padding-top: 125px;
    padding-bottom: 90px;
    text-align:center;
}

.contact-content p{
    font-size: 30px;
}

.back-img-wrapper {
    position: absolute;
    width: 402px;
    height: 479px;
    overflow: hidden;
}

.back-img-wrapper img {
    height: 100%;
    width: auto;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.front-img-wrapper {
    position: absolute;
    overflow: hidden;
    top: 64px;
    width: 495px;
    height: 350px;
    right: 0;
}

.front-img-wrapper img {
    height: 100%;
    width: auto;
    max-width: none;
}

.contact-info-block {
    height: 613px;
}

.contact-info-block p {
    font-size: 20px;
}

.contact-block-2 .back-img-wrapper{
    right: 0;
}

.contact-block-2 .front-img-wrapper{
    left: 0;
}

.contact-block-2 {
    text-align: right;
}

.home_header{
    height: auto;
}