
/*---------------------------------------------------
--------------  TELECHARGEMENT
---------------------------------------------------*/

#telechargement{
	padding: oe_rem(40px) 0 ;

	.nav{
		height: oe_rem(295px);    
		margin-bottom: oe_rem(35px);
		@include flex(stretch, cente, row);

		&>li{
			flex: 1;
			border: oe_rem(1px) solid $second_main_color;
			

			&>a {
				height: 100%;
				border-radius: 0px;
				@include flex(center, flex-start, column);
				h3 {
					margin: 0px;
					color: $second_main_color;
					padding: 0px;
					margin-top: auto;
					margin-bottom: oe_rem(40px);
					border: none;
					font-size: oe_rem(24px);
					line-height: oe_rem(30px);
					text-align: center;
					text-transform: uppercase;
				}

				i { 
					color: $second_main_color;
					font-size: oe_rem(70px);
					margin: oe_rem(30px) 0 0 0;
				}

				&:focus, 
				&:hover { 
					color: $second_main_color;
					background-color: #eee;
					h3 {
						color: $second_main_color;
						background-color: #eee;
					} 
					i { 
						color: $second_main_color;
					} 
				}
			}

			&.active{

				&>a { 
					color: $text_color;
					background-color: $second_main_color;
					h3 {
						color: $text_color;
						background-color: $second_main_color;
					}
					i { 
						color: $text_color;
					}
				}
			}
		}


		&>li+li {
			margin-left: oe_rem(30px);
		} 
	}


	.links-container{
		height: 100px;
		padding: oe_rem(30px) 0;
		border-bottom: oe_rem(1px) solid $lighter_color;
		@include flex(center, center, row);

		&:nth-child(1){ 
			border-top: oe_rem(1px) solid $lighter_color;
		}

		h4 {
			margin: 0;
			border: none; 
			max-width: 60%;
			font-size: oe_rem(22px);
			line-height: oe_rem(30px);
			color: $main_text_color; 
			text-transform: uppercase;
		}


		.pdf-links { 
			margin-left: auto;

			.pdf-link {
				height: oe_rem(40px);
				width: oe_rem(185px);
				margin: 0;
				margin-left: oe_rem(30px);
				padding: 0 oe_rem(6px) ;
				color: $second_main_color;
				background-color: $text_color;
				border: oe_rem(1px) solid $second_main_color;
				line-height: oe_rem(38px);
				background-image: none;
				text-align: center;
				display: inline-block;
				&:hover, 
				&:focus { 
					color: $text_color;
					background-color: $second_main_color;
					border: oe_rem(1px) solid $second_main_color;
					text-decoration: none;
				}
				i{
					margin: 0 oe_rem(5px);
				}
			}
		}

	}

} 



