
footer {
	color: $white;
	background-color: $main_color;
	height: oe_rem(98px);
	padding: oe_rem(26px) 0;
	ul.footer-info{
		list-style: none;
		padding: 0 !important;
		margin: 0 !important;
		@include flex(center, flex-end, row);
		li{
			margin: 0 oe_rem(10px);
			color: $white;
			a{
				color: $white;
				margin: 0 oe_rem(4px);
				font-size: oe_rem(18px);
				@include transition();
				&:hover,
				&:active,
				&:focus{
					color: $white;
					text-decoration: underline; 
				}
			}
			span{
				color: $white;
				margin: 0 oe_rem(4px);
				font-size: oe_rem(18px);
			}
		}
	}
		

	@include media("<md"){ 
	}

}