form {
	label{
		font-size: oe_rem(18px);
		color: $dark_color;
		margin-top: oe_rem(20px);
		text-transform: uppercase;
		font-weight: 500;
	}
	.form-control {
		color: $lighter_color;
		font-size: oe_rem(20px);
		padding: oe_rem(15px);
	}
	.obligatoires{
		font-weight: 300;
		font-size: oe_rem(20px);
		margin-top: oe_rem(30px);
		color: $second_main_color;
	}
}

.btn{cursor:pointer;}

.custom-btn{
	float: right;
	margin: oe_rem(50px) 0;
	@include button-variant($btn-custom-color, $btn-custom-bg, $btn-custom-border);
}


.carrier-btn{ 
	@include button-variant($btn-custom-color, $btn-custom-bg, $btn-custom-border);
	float: right;
	margin: oe_rem(10px) 0 oe_rem(40px);
}

.postuler-btn{  
	@include button-variant($btn-custom-color, $btn-custom-bg, $btn-custom-border);
}
