.rea{
    .titre{
        font-size: oe_rem(36px);
        font-weight: 700;
        line-height: oe_rem(50px);
    }
    .description{
        p{
            margin-bottom: 0 !important;
            font-size: oe_rem(24px);
            font-weight: 300;
            line-height: oe_rem(50px);
        }
    } 
}

.cats{
    font-size: oe_rem(24px);
    font-weight: 300;
    line-height: oe_rem(50px);
    ul{ 
        list-style: none;
        padding: 0;
        margin: 0;
        @include flex(flex-start, flex-start, row);
        flex-wrap: wrap;
        li{
            &:after{
                content: "/";
                padding: 0 oe_rem(10px);
            }
            a{
                font-size: oe_rem(30px);
                font-weight: 200;
                text-decoration: underline;
                &:hover{
                    text-decoration: none;
                }
            }
            &:last-child{
                &:after{
                    content: none; 
                }
            }
        }
    } 
}

.post_cats{ 
    a{
        font-size: oe_rem(18px);
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    } 
}

.projet{
    h1{ 
        padding-bottom: oe_rem(0);
        font-weight: 700;
        &:after{
            content: none ; 
        }
    }
    h2{
        font-size: oe_rem(30px);
        font-weight: 400;
        line-height: oe_rem(47px);
        padding-bottom: oe_rem(0);
        &:after{
            content: none ; 
        }
    }
    .image{
        margin-bottom: oe_rem(80px);
        text-align: center;
    }
}

#realisationContent{
    a{
        .page_bandeau{
            margin: oe_rem(120px) 0 oe_rem(40px);
        } 
        &:nth-child(2){
            .page_bandeau{
                margin: oe_rem(40px) 0 oe_rem(40px);        
            }
        }
    }
}


#plusrealisation{
    width: oe_rem(340px);
    height: oe_rem(65px);
    text-align: center;
    line-height: oe_rem(65px);
    font-size: oe_rem(24px);
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    margin: oe_rem(120px) auto; 
    border: oe_rem(1px) solid transparent;
    cursor: pointer;
    @include transition(all, .25s, ease-in-out);
    @include button-variant($main_color, #fff, $main_color);
    &:hover{
        @include button-variant(#fff, $main_color, $main_color);
    }
}