.projets_container .col-md-5:last-child{
    margin-left:3%;
}

.projets_container .btn-custom{
    font-size: 1.125rem;
}

#wpcf7-f90-p14-o1 .wpcf7-submit, #next-step {
    text-transform: uppercase;
    font-size: 1.125rem;
    background-color: #000;
    border: none;
    width: 190px;
    height: 67px;
    line-height: 67px;
}

#wpcf7-f90-p14-o1 .wpcf7-submit:focus, #next-step:focus{
    color:#fff;
}

/*----------------------------------
Added by Redouane
----------------------------------*/
 

.site-branding .logo_container img{
  height: 100px;
}

.radio-newsletter-36 label {
    cursor: pointer;
}

.radio-newsletter-36 input {
    visibility: hidden;
}

span.wpcf7-list-item-label {
    border: 1px solid;
    display: inline-block;
    padding: 0 15px;
    border-color: #777;
    color: #777;
}

.radio-newsletter-36 input:checked+span {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

span.wpcf7-list-item {
    margin-left: 0;
	margin-right: 36px;
}

.home-video{
  width: 100%;
  margin-bottom: 3rem;
}

#home_header{
  margin-bottom: 0;
}

.text-white.bandeau .info .titre,
.text-white.bandeau .info .description{
  color:#fff;
}

.menu-item:after{
  display: block;
  height: 1px;
  background-color: #000;
  content: '';
  position: absolute;
  transition: .6s ease;
}

.current-menu-item:after, .menu-item:hover:after {
  width: 52px;
}

.home_header .top_header:not(.show) .menu-item:after{
  background-color: #fff;
}

#home_header {
    margin-bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
}

footer ul.footer-info li a{
    font-size: .875rem;
}

.cats ul li.current-cat a {
    text-decoration: line-through;
}

.archive.tax-cat_projet a .page_bandeau {
    margin: 7.5rem 0 2.5rem;
}

.archive.tax-cat_projet a:nth-child(2) .page_bandeau {
    margin: 2.5rem 0 2.5rem;
}

.project-row {
    margin-bottom: 7.5rem;
}

.mention-email{
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
}

#wpcf7-f90-p14-o1 .wpcf7-submit:hover, #next-step:hover{
    color: #fff;
}

.home-video-btn{
    position: absolute;
    left: 43%;
    top: 57.5%;
    z-index: 10;
    background-color: #000;
    color: #000;
    width: 264px;
    height: 65px;
    opacity: 0;
    display: none;
}