.sliderActus{
	padding: oe_rem(50px) 0;
	.sliderActus{
		.actu{
			.image{
				height: oe_rem(495px);
			} 
		}
	}
	.owl-theme {
		.owl-nav { 
			@include position(absolute, 50%, 0, initial, 0);
			margin: 0;
			margin-top: oe_rem(-18px);
			[class*='owl-'] {
				color: $lighter_color;
				background: transparent;
				border-radius: 50%;
				position: absolute;
			}
			.owl-prev{
				left: 2%;
			}
			.owl-next{
				right: 2%;
			}
		}


		@include media("<md"){
			.owl-nav { 
				@include position(absolute, initial, 0, 120px, 0);
			}
		}
	}

	@include media("<xl"){
	}

	@include media("<lg"){
	}
}
.actus_header{
	margin-bottom: oe_rem(80px);
	.titre{
		font-size: oe_rem(40px);
		padding-bottom: oe_rem(30px);
		margin-bottom: oe_rem(30px);
		position: relative;;
		&:after{
			content: "";
			@include position(absolute, initial, initial, oe_rem(0px), 0);
			width: oe_rem(80px);
			border: 1px solid $main_color;
		}
	}
	.description{
		font-size: oe_rem(24px);
		font-weight: 300;
		line-height: oe_rem(30px);
	}
}
.actu{
	margin-bottom: oe_rem(40px);
	.image{
		height: oe_rem(495px);
		width: 100%;
		background-color: $main-color;
		img{
			min-width: 100%;
			max-width: initial;
			min-height: 100%;
			max-height: initial;
		}
	}
	.titre{
		font-size: oe_rem(18px);
		line-height: oe_rem(50px);
		font-weight: bold;
		padding-top: oe_rem(10px);
		text-transform: uppercase;
	}
	.date{
		font-size: oe_rem(18px);
		font-weight: lighter;

	}
}