.home_header{
height: oe_rem(570px);
	background-color: $main_color;
	margin-bottom: oe_rem(120px); 

	.top_header{
		height: oe_rem(150px);
		@include flex(center, space-between, row); 
 
nav{
ul{
	@include flex(center, flex-end, row); 
	li{
		a{
			color: #fff;
font-size: oe_rem(14px);
font-weight: 400;
text-transform: uppercase;
padding: 0 oe_rem(10px);
		}
	}
}
	.menu-toggle{
		display: none;
	}
}
	}

	@include media("<xl"){ 
		 
	}

	@include media("<lg"){
		@include flex(scretch, scretch, column-reverse); 
		 
	}

	@include media("<md"){
		@include flex(scretch, scretch, column-reverse);

	}
}


.header_messages{
	@include flex(center, space-between, row);
	.message{
		color: #fff;
		font-weight: 200;
		font-size: oe_rem(24px);
		a{
			color: #fff;
		}
	}
	.first_message{
margin-top: oe_rem(200px);
	}
	.second_message{
		margin-top: oe_rem(80px);

	}
}




